.video-container {
    position: relative;
    max-width: 1024px;
    max-width: 64rem;
    width: 100%;
    height: auto;
    margin: 20px 0 0;
    margin: 1.25rem 0 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

video {
    width: 100%;
    height: auto;
}

.video-cues-container {
    display: flex;
    position: absolute;
    top: 48px;
    bottom: 48px;
    left: 32px;
    right: 32px;
    align-items: flex-end;
    justify-content: center;
}

.video-cues-container>div {
    color: white;
    background-color: #00000094;
    padding: 4px 8px;
    border-radius: 4px;
}

.video-controls {
    display: flex;
    list-style-type: none;
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 4px;
    align-items: center;
}

.video-controls .video-progress-wrapper {
    width: 100%;
    flex-grow: 1;
}

.video-controls .video-progress-bar {
    cursor: pointer;
}

.video-controls .video-progress-bar::-webkit-progress-bar {
    background: #ffffff20;
}

.video-controls .video-progress-bar::-webkit-progress-value {
    background: #ffffff;
}

.video-controls .video-control-button {
    color: #ffffff;
    cursor: pointer;
    flex-grow: 0;
}

.video-controls .video-progress-bar {
    display: block;
    width: 100%;
    height: 6px;
    border: none;
    overflow: hidden;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-appearance: none;
    appearance: none;
}

.video-controls .video-control-timer {
    flex-shrink: 0;
    padding-left: 8px;
    color: #ffffff;
}

.video-controls > * {
    margin: 4px;
}

html:-ms-fullscreen {
    width: 100%;
}

:-webkit-full-screen {
    background-color: transparent;
}

/* hide controls on fullscreen with WebKit */
.video-container[data-fullscreen=true] video::-webkit-media-controls {
    display: none !important;
}

.video-container[data-fullscreen=true] {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.video-container[data-fullscreen=true] video {
    height: auto;
}

.video-container[data-fullscreen=true] .video-controls {
    position: absolute;
    width: 100%;
    z-index: 2147483647;
}

.hidden {
    display: none !important;
}

.video-volume-wrapper {
    display: flex
}

.video-volume-wrapper .video-volume-slider {
    display: none;
    width: 56px;
}

.video-volume-wrapper:hover .video-volume-slider {
    display: initial;
}

.video-volume-wrapper input[type=range] {
    width: 100%;
    background-color: transparent;
    -webkit-appearance: none;
}

.video-volume-wrapper input[type=range]:focus {
    outline: none;
}

.video-volume-wrapper input[type=range]::-webkit-slider-runnable-track {
    background: #ffffff20;
    border: 1.6px solid #ffffff;
    border-radius: 4px;
    width: 100%;
    height: 2px;
    cursor: pointer;
}

.video-volume-wrapper input[type=range]::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
    background: #ffffff;
    border: 1.8px solid #ececec;
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
}

.video-volume-wrapper input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffffff;
}

.video-volume-wrapper input[type=range]::-moz-range-track {
    background: #ffffff98;
    border: 1.6px solid #ffffff20;
    border-radius: 4px;
    width: 100%;
    height: 2px;
    cursor: pointer;
}

.video-volume-wrapper input[type=range]::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: #ffffff;
    border: 1.8px solid #ececec;
    border-radius: 50px;
    cursor: pointer;
}

.video-control-dropdown {
    height: 24px;
}

.video-control-dropdown .video-dropdown-content {
    display: none;
    position: absolute;
    bottom: 32px;
    background-color: #ffffff;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.video-control-dropdown:hover .video-dropdown-content {
    display: block;
}

.video-control-dropdown .video-dropdown-content div {
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.video-control-dropdown .video-dropdown-content div:hover {
    background-color: #ddd;
}

.video-control-dropdown .video-dropdown-content div.active {
    font-weight: 600;
}